html, body {
    min-width: 100px;
    min-height: 100px;
}

#popup-content {
    color: red;
    margin: 0 auto;
}

#header {
    width: 300px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
}

#privacyspy-logo {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

#privacyspy-text {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}